@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  20% {
    background-position: 25% 50%; /* Posição intermediária 1 */
  }
  40% {
    background-position: 50% 50%; /* Posição intermediária 2 */
  }
  60% {
    background-position: 75% 50%; /* Posição intermediária 3 */
  }
  80% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-bg {
  background: linear-gradient(
    270deg,
    #bfdbfe,
    #60a5fa,
    #5b1bd3,
    #bfdbfe,
    #60a5fa,
    #2563eb
  ); /* Adicionando mais cores para suavizar a transição */
  background-size: 400% 400%; /* Aumentando o tamanho do gradiente */
  animation: gradient 100s ease infinite; /* Aumentando a duração para 30s */
}
